/* gilt für jedes tag oder man kann auch body benutzen */
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
}

#table-of-contents h2 {
    font-size: xxx-large;
}
#table-of-contents h3 {

}